<div class="container">
  <%= form_with model: @task do |f| %>
    <%= f.label :title, class: "form-label mt-3" %>
    <%= f.text_field :title , class: "form-control" %>
    <%= f.label :details , class: "form-label mt-3"%>
    <%= f.text_field :details , class: "form-control" %>
    <%= f.submit class: "btn btn-primary mt-3" %>
  <% end %>
</div>
